*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
    font-family: "sans-serif";

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-top: -5%;
    font-family: sans-serif;
    flex-wrap: wrap;
}
.logo img{
    width: 200px;
    margin-right: 0px;
    margin-left: 50px;
}#logo{
    display: flex;
}
nav{
    flex:1;
    text-align: center;
}
nav input{
    padding: 5px;
    background: url(topo/lupa.png) no-repeat 10px center;
    background-size: 18px;
    width: 75%;
    border-radius: 50px;
    border: 5px solid;
    font-size: 15px;
    margin-top: -5%;
    margin-bottom: 25px;
}nav input:focus{
    background: none;
}
nav ul {
    list-style: none;
    display: inline-flex;
    gap:15px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #003566;
     transition: transform 0.3s ease;
}nav ul:hover{
    transform:scale(1.1);
    color: #EDAE49;
}.maisv{
    background-color: #EDAE49;
    border:#EDAE49 4px solid;
    border-radius: 12px;
}ul a :hover{
    color: #0466C8;
    text-decoration: none;
}ul a{
    text-decoration: none;
}
.user{
    display:flex;
    align-items: center;
    gap:15px
}
.user img{
    width: 75px;
    margin-top:-20%;
    margin-left: -20%;
    transition: transform 0.3s ease;
}.user img:hover{
    transform:scale(1.1);
}
.user h1{
    font-size: 23px;
    font-weight: bold;
    margin-top: -15%;
}
.user span{
    color: #EDAE49;
}
.user div{
    display: flex;
    width: 35px;
    margin-top:33%;
    gap: 25px;
    margin-left: -65%;
}.user a{
    color: #FFC300;
     text-decoration: none;

}.user a:hover{
     text-decoration: none;
}
.banner{
    padding: 150px 100px;
    background-image: url(./topo/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.banner h2{
    color:white;
    font-family: "BBH Sans Bogle", sans-serif;
    font-size: 140px;
    margin:0;
    text-shadow: 2px 5px 10px black;
    margin-top: -100px;
}.banner p{
    color: white;
    font-weight: bold;
    font-size: 30px; 
    padding: 0;
    margin-top:10px;
    margin-right: 30px;
    text-shadow: 2px 5px 10px black;
}.banner span{
    color:#FFC300
}.produtos{
    display: grid;
    gap:30px;
    padding:40px;
    background-color: F9F9F9;
    grid-template-columns: repeat(3,1fr);
    background-color: #0466C8;
}.prod{
    background: #F9F9F9;
    border-radius: 20px;
    padding:30px;
    text-align: center;
    box-shadow: 0px 4px 8px 0px black;
     transition: transform 0.3s ease;
     text-decoration: none;
     color: #003566;
    
     font-weight: 600;
   
}
.prod > a{
     display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
}

.prod:hover{
     transform:scale(1.1);
}.prod img{
    width: 50%;
    border-radius: 10px;
}.prod h3{
    color: #FFC300;
    border-radius: 10px;
}.sobrenos{
    background: linear-gradient(to top, #001F5C, #0466C8);
    color: white;
    padding: 130px;
    display:flex;
}.sobrenos span{
    color:#FFC300;
    text-align: center;
}
.sobrenostexto{
    display:grid;
    grid-template-columns: 1fr 1fr;
}.sobrenos h1{
    text-shadow:2px 5px 10px black;
    font-size: 100px;
    padding: 0;
    margin:0;
   grid-column: 1/4;
   text-align: center;
}.sobrenos p{
    font-weight: bold;
    font-size:20px ;
    grid-column: 1/4;
    align-items: left;
    margin-top: -30px;
    text-align:right;
}.sobrenos img{  
    padding: 40px 30px;
    width:600px;
    right:100px;
    margin:0;
    display:flex;
}#tec{
border-radius: 10px; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}#info{
    text-align: center;
    margin-top: 40px;
      transition: transform 0.3s ease;
}#info:hover{
transform:scale(1.1);
}
#botao{
    margin-top: 40px ;
    font-size: 40px;
    background-color: #EDAE49;
    border:#EDAE49 4px solid;
    border-radius: 12px;
    text-decoration: none;
}
footer{
display: flex;
justify-content: space-between;
background-color: #EDAE49;
padding:25px 25px;
font-size: 14px;
}.loc{
    font-size: 20px;
}#tt{
    width: 100px;
    transition: transform 0.3s ease;
}#tt:hover{
    transform:scale(1.1);
}#insta{
     width: 100px;
     transition: transform 0.3s ease;
}#insta:hover{
      transform:scale(1.1);
}.midias{
    text-align: center;
    font-size: 30px;
    margin-right: 80px;
}#cnpj{
    text-align: center;
    font-size: 20px;
    background-color: #EDAE49;
    padding: 10px 0;
    margin:0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}.menu{
  display: none;
}@media  (max-width: 768px) {

  header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px;

  } #userfoto{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user {
    margin: 0;
    width: auto;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .user img {
    width: 55px;
    margin: 0;
  }
  .user h1 {
    font-size: 18px;
    margin: 0;
    line-height: 1.1;
  }

  .user div {
    margin: 0;
    width: auto;
    gap: 12px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .banner h2 {
    font-size: 2.2rem;
    text-align: center;
  }

  .produtos {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  header, nav, main, footer {
    width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container, .conteudo, .produtos, .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .menu {
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1rem;
    padding: 0 10px;
  }

  button {
    width: 90%;
    max-width: 300px;
  }

  header {
    width: 100%;
  }
  .topo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;

  }
  .logo {
    max-width: 110px;
    height: auto; 
    margin-right: px;
  }
  nav input{
    width: 90%;
    margin: 10px auto;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background: #fff;
    width: 100%;
    padding: 10px 0;
  }
  nav ul li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .menu{
    display: block;
    font-size: 28px;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
  }

  .sobrenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
  }

  .sobrenos div {
    max-width: 360px; /* evita efeito torre */
  }

  
  .sobre-nos p {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
    white-space: normal;
  }


  .sobrenos h1{
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 5px;
  }

  .sobrenos img{
    max-width: 300px;
  }
}

